.landpage {
    display: grid;
    place-items: center;
    text-transform: capitalize;
    transition: 0.5s ease;
    background-color: rgb(28,28,29) !important;
    overflow-x: hidden !important;
    height: 1px;
    box-sizing: border-box;
}

.sidenav {
    text-transform: capitalize;
    height: 100vh;
    width: 280px;
    position: fixed;
    top: 100px;
    z-index: 1;
    left: 0;
    background-color: rgb(28,28,29);
    overflow-x: hidden;
    padding-top: 20px;
    margin-right: 20px;
    color: #fff !important;
}

.ex-text {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    padding: 5px;
    width: 200px;
    height: 35px;
} 
.ex-text:hover {
    height: 35px;
    width: 200px;
    background-color: rgba(65, 65, 65, 0.5);
    border-radius: 5px;
}
p {
    margin: 20px;
    font-family: 'Poppins';
}

.btn0 {
    padding-top: 5px;
    border-radius: 30px;
    border: 3px solid #f3f3f3;
    background-color: transparent;
    text-align: center;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    margin-top: 85px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.btn1 {
    padding-top: 5px;
    color: #f3f3f3;
    border-radius: 30px;
    border: 3px solid #f3f3f3;
    background-color: transparent;
    text-align: center;
    width: 80px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.logout {
    margin-top: 240px;
}
@media only screen and (max-height: 800px) {
    .logout {
        margin-top: 180px;
    }
}
.btn0:hover {
    background-color: #f3f3f3;
    color: rgb(28,28,29);
}
.btn1:hover {
    background-color: #f3f3f3;
    color: rgb(28,28,29);
}
.top-txt-container {
    position: absolute;
    left: 300px;
    top: 100px;
}
.top-txt-container h3 {
    font-size: 20px !important;
    color: #fff;
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: -5px;
    margin-top: 10px;
}
hr {
    background-color: #fff !important;
    width: 99%;
    position: absolute;
    top: 150px;
}

.all-content {
    display: grid;
    /* grid-template-areas: 
    'options options options options options new new'
    'docs docs docs docs docs docs docs'; */
    grid-template-columns: repeat(2,0fr);
    gap: 10px;
    grid-auto-rows: minmax(140px, auto);
    /* width: 100%; */
}
.canvas-options {
    color: #fff;
    width: 800px;
    height: 300px;
    background-color: rgba(65, 65, 65, 0.6);
    border-radius: 8px;
    padding: 0.5rem;
    display: flex;
    place-content: center;
    text-align: center;
    position: absolute;
    left: 300px;
    top: 200px;
}
.canvas-options div {
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.new-stuff {
    /* grid-template-columns: auto;
    grid-auto-rows: auto; */
    width: 300px;
    height: 300px;
    background-color: rgba(65, 65, 65, 0.6);
    padding-bottom: 1rem;
    border-radius: 8px;
    overflow: auto;
    z-index: 1;
    position: absolute;
    right: -50px;
    top: 200px;
}

.new-stuff img {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
}
.new-stuff h3 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 20px;
    margin-top: 15px;
}
.new-stuff button {
    align-items: center;
    color: #f3f3f3;
    padding-top: 3px;
    border-radius: 30px;
    border: 3px solid #f3f3f3;
    background-color: transparent;
    text-align: center;
    margin-left: 50px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.documents {
    /* grid-area: docs; */
    width: 1125px;
    height: 440px;
    position: absolute;
    left: 300px;
    top: 500px;
}

.documents h3 {
    color: #fff;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 17px;
    display: inline;
    margin-right: 950px;
}
.documents .layout {
    display: inline-block;
    background-color: transparent;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    font-size: 22px;
    padding: 0;
}
.documents .layout:hover {
    border-radius: 5px;
    background-color: rgba(65, 65, 65, 0.5);
}
.documents button:focus {
    border-radius: 5px;
    background-color: rgba(65, 65, 65, 0.5);
}
@media only screen and (max-width: 1400px) {
    .canvas-options {
        width: 750px;
        height: 280px;
    }
    .new-stuff {
        width: 280px;
        height: 280px;
        right: 10px;
    }
    .documents {
        width: 1000px;
    }
    .documents h3 {
        margin-right: 840px;
    }
}
.documents select {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-family: 'adobe-gothic-std',sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.5px;
    position: relative;
    top: 20px;
}
.blok {
    width: 1px;
    height: 20px;
    background-color: grey;
    display: inline-block;
    vertical-align: center;
    margin-left: 10px;
    margin-right: 15px;
    position: relative;
    top: 25px;
}
.search-docs {
    text-align: right;
    color: #fff;
}
.search-docs input {
    margin-left: 15px;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
    border-bottom: 2px solid rgba(65, 65, 65, 0.8);
}
#filtered-docs {
    display: grid;
    grid-template-columns: repeat(4,0fr);
    gap: 20px;
}
#filtered-docs .wf {
    display: grid;
    grid-template-columns: repeat(4,0.5fr);
    gap: 10px;
}
.result {
    width: 260px;
    height: 260px;
    border-radius: 5px;
    background-color: rgba(65, 65, 65, 0.6);
    margin-top: 20px;
    align-items: center;
    padding: 5px;
    max-width: 250px;
    max-height: 250px;
}
.previewImg {
    margin: 10px;
    margin-left: 20px;
    width: 190px;
    height: 190px;
}
.options {
    font-size: large;
    position: relative;
    bottom: 35px;
    left: 230px;
    cursor: pointer;
}
.options svg {
    position: absolute;
}

.contain-opts ul {
    list-style: none;
    margin: 0;
}
.contain-opts ul li {
    color: #000;
    margin: 0;
}
.deleteDocument {
    border: none;
    background-color: #f15044;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}
.docOptions {
    transition: 2s ease;
}
#testel {
    width: 500px;
    height: 500px;
    background-color: #fff;
}

/* .content-load {
    width: 1100px;
    height: 600px;
    background-color: rgb(56, 56, 56);
    position: absolute;
    top: 20%;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid gray;
    border-top: 3px solid rgb(0, 88, 204);
}  */
.modal-bg {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.modal-create-new {
    padding: 1rem;
    position: fixed;
    top: 100px;
    width: 1100px;
    height: 700px;
    background-color: rgb(40, 40, 41);
    color: #fff;
    left: 12%;
    z-index: 2;
}
.modal-create-new h4 {
    display: inline-block;
    margin-right: 800px;
    margin-bottom: 30px;
}
.modal-create-new span {
    font-size: 20px;
}
.modal-create-new .doc-options {
    grid-column: auto;
    grid-auto-rows: auto;
    width: 700px;
    height: 600px;
    background-color: rgb(36, 36, 36);
    position: relative;
    top: -50px;
}
.modal-create-new .sidebar-options {
    grid-column: auto;
    grid-auto-rows: auto;
    width: 370px;
    height: 600px;
    background-color: rgb(39, 39, 39);
    margin-top: 0;
    position: relative;
    top: -50px;
}
.new-doc-types {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-auto-rows: minmax(140px, auto);
    place-items: center;
}
.doc-types {
    grid-column: auto;
    grid-auto-rows: auto;
}

.sidebar-options .custom-settings div form .custom-doc-title {
    width: 98%;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 3px solid rgba(65, 65, 65, 0.6);
    background-color: transparent;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 17px;
}
#doc-width {
    background-color: rgba(65, 65, 65, 0.4);
    color: #fff;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 40px;
    margin-left: 10px;
}
#doc-height {
    background-color: rgba(65, 65, 65, 0.4);
    color: #fff;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-left: 10px;
    width: 40px;
}
.sidebar-options .custom-settings div form select {
    background-color: rgba(65, 65, 65, 0.6);
    color: #fff;
    outline: none;
    border: none;
    padding: 0.7rem;
    width: 160px;
    margin-left: 10px;
    border-radius: 5px;
}
.custom-buttons {
    width: 90px;
    padding: 0.5rem;
    color: #fff;
    outline: none;
    border:none;
    background-color: rgb(23, 112, 245);
}

.delmdbg {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.596);
    z-index: 2;
}
.delmdf {
    background-color: #27272b;
    padding: 1rem;
    /* padding-top: 3rem; */
    position: relative;
    bottom: -31px;
    right: 16px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.cmd {
    background-color: transparent;
    border: 2px solid #fff;
    width: 90px;
    height: 45px;
    border-radius: 50px;
    color: #fff;
}
.delmdbtn {
    background-color: #FF493D;
    border: none;
    border-radius: 4px;
    width: 90px;
    height: 45px;
    color: #fff;
    margin-left: 20px;
}